/* Base ---------- */

html {
    background-color: #EEEEEE;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font: 13px 'Helvetica', sans-serif;
}

a {
	text-decoration: none;
	color: #333333;
	font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Logged In Header ---------- */

#top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 30px auto;
    z-index: 1;
    font-weight: bold;
    padding: 30px;
    width: 338px;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(25, 25, 25, 0.09);
    text-transform: uppercase;
    color: #989898;
}

#top h1 {
  color: red;
  margin: 0 0 10px 0;
  letter-spacing: 4px;
}

#top a {
  color: #989898;
}

#top a.selected {
  color: #666666;
}

#top a:hover {
    text-decoration: underline;
color: #666666;
}

#menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    border: 4px solid white;
    border-radius: 28px;
    box-shadow: 0 2px 0 rgba(25, 25, 25, 0.09);
    margin: 0;
    padding: 0;
    height: 48px;
    width: 48px;
}

#headerprofilepic {
  border-radius: 24px;
  height: 48px;
  width: 48px;
}

#headerprofilepic:hover {
  cursor: pointer;
}

#menubox {
	position: absolute;
	right: 20px;
	top: 80px;
	background-color: #fff;
	margin: 0;
	width: 160px;
	padding: 0;
	display: none;
  box-shadow: 0 2px 0 rgba(25, 25, 25, 0.09);
  z-index: 3;
}

#menubox li {
	list-style-type: none;
	border-bottom: 1px solid #CCCACA;
}

#menubox li:last-child {
	border: none;
}

#menubox li a {
	line-height: 30px;
	display: block;
	text-align: left;
	padding: 4px 16px;
}

#menubox li a:hover {
	background-color: #CCCACA;
  text-decoration: none;
}

#lineWrap {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 920px;
    z-index: -1;
    margin: 0 auto;
}

#line {
    height: 0px;
    width: 458px;
    border-right: 4px solid #CCCCCC;
}

/* Logged In Body ---------- */

#photoWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-transition: -webkit-transform 750ms cubic-bezier(0.330, 0.320, 0.595, 1); /* older webkit */
    -webkit-transition: -webkit-transform 750ms cubic-bezier(0.330, 0.320, 0.595, 1.320);
       -moz-transition: -moz-transform    750ms cubic-bezier(0.330, 0.320, 0.595, 1.320);
        -ms-transition: -ms-transform     750ms cubic-bezier(0.330, 0.320, 0.595, 1.320);
         -o-transition: -o-transform      750ms cubic-bezier(0.330, 0.320, 0.595, 1.320);
            transition: transform         750ms cubic-bezier(0.330, 0.320, 0.595, 1.320); /* custom */

}

#photos, #friendPhotos {
  text-align: left;
  width: 920px;
  padding: 145px 0 30px 0;
  margin: 0 auto;
  position: absolute;
  top:0;
  left:0;
  right:0;
}

#leftCol {
  float: left;
}

#rightCol {
  float: right;
}

.y_photo:hover {
    cursor: pointer;
}

.f_photo:hover {
    cursor: pointer;
}

.y_photo {
  margin: 0 4px 4px 0;
  width: 197px;
  height: 197px;
  float: left;
  -webkit-transition: all 300ms;
  background-color: #ECEEF0;
}

.meTrip {
  background-color: #fff;
  padding: 30px 26px 30px 30px;
  margin: 30px;
  box-shadow: 0 2px 0 rgba(25, 25, 25, 0.09);
  text-align: center;
}

.friendTrip {
  width: 384px;
  background-color: #fff;
  padding: 10px 6px 10px 10px;
  margin: 30px;
  box-shadow: 0 2px 0 rgba(25, 25, 25, 0.09);
}

.tripPhotos {
  padding: 30px 0 0 0;
}

.date {
    font-size: 12px;
    color: #8C8C8C;
    font-weight: normal;
    padding: 6px 0 0 0;
}

.meTrip h2 {
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    margin: 0 auto;
    width: 500px;
    line-height: 20px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.now {
  font-weight: bold;
}

#hide {
    background-color: rgba(0, 0, 0, .86);
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    -webkit-transition: all 200ms;
}

.invisible {
    background-color: rgba(27,27,27,0) !important;
    z-index: -3 !important;
    display: none;
}

.theaterMode {
	overflow: hidden;
}

.hidden {
    display:none;
}

.lightbox {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 2;
  text-align: center;
	overflow-x: auto;
	overflow-y: scroll;
}

.lightbox .zoomContentWrap {
  margin: 19px auto;
  position: relative;
}

.lightbox .zoomContent {
    border: 1px solid rgba(0, 0, 0, .2);
}

.bigWrap {
  position: relative;
  background-color: #000;
}

.bigWrap img {
  -webkit-box-shadow: 0 8px 22px rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
}

.lbButtonBar {
  position: absolute;
  bottom: 10px;
  right: 0;
  height: 40px;
  z-index: 12;
}

.countBar {
  position: fixed;
  bottom: 10px;
  left: 0;
  height: 40px;
  z-index: 12;
  background-color: rgba(0,0,0,.5);
  color: rgba(255,255,255,.8);
  line-height: 40px;
  padding: 0 15px;
  margin:0 0 0 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.lbButton {
  float: right;
  background-color: rgba(0,0,0,.5);
  color: rgba(255,255,255,.7);
  line-height: 40px;
  padding: 0 15px;
  margin:0 10px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.commentForm {
  background-color: #F5F5F5;
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 8px 15px 9px 15px;
}

.commentInput, .placeholder {
  border: 1px solid rgba(0,0,0,.14);
  padding: 5px;
  margin: 0;
  width: 170px;
  cursor: text;
  background-color: white;
  font-size: 13px;
  line-height: 18px;
  float: left;
}

.placeholder:hover, .commentInput:focus {
  border: 1px solid rgba(0,0,0,.25);
}

.like, .liked {
  border: 1px solid rgba(0,0,0,.14);
  padding: 5px;
  margin: 0 0 0 10px;
  width: 60px;
  font-size: 13px;
  line-height: 18px;
  float: left;
}

.like {
  background-color: gray;
}

.liked {
  background-color: red;
}

.aLike, .meLike {
  float: left;
}

.lbButton:hover {
  background-color: rgba(15,15,15,.8);
  text-decoration: none;
  color: white;
}

.lbButton:active {
  background-color: rgba(15,15,15,1);
  text-decoration: none;
  color: white;
}

.metaWrap {
  width: 300px;
  top: 0;
  right: 0;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, .2);
}
.meta {
  text-align: left;
  -webkit-box-shadow: 0 8px 22px rgba(0, 0, 0, .5);
}

.meta .inner {
    padding: 20px;
    background-color: white;
}

.meta .shout {
  color: #3a3a3a;
    font-size: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mapSliver {
  width: 300px;
  height: 80px;
  overflow: hidden;
  position: relative;
  background-color: whitesmoke;
}

.mapSliver img {
  margin-top: -31px;
}

.mapHighlight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, .16);
  background: url('pin.png') no-repeat 50% 50%;
}

.firstname {
    font-weight: bold;
}

.meta .venue {
    font-size: 12px;
    font-weight: bold;
}

.meta .date {
    font-size: 12px;
    display: block;
    color: #999999;
}

#loading, #friendLoading {
    background-color: #fff;
    padding: 30px;
    margin: 30px 30px 100px 30px;
    text-align: center;
    box-shadow: 0 2px 0 rgba(25, 25, 25, 0.09);
}

/* Logged Out Homepage ---------- */

@-webkit-keyframes photo {
  from {
  -webkit-transform:translate(10px, -4000px) scale(0.1) rotate(-160deg);
  opacity:0.0;
}
  to {
  -webkit-transform:translate(0, 0);
  scale(1.0) rotate(0);
  opacity:1.0;
  }
}

@-webkit-keyframes text {
  from {
  opacity:0.0;
}
  to {
  opacity:1.0;
  }
}

#sellit {
    margin-left: 294px;
	width: 506px;
	-webkit-animation: text 1s ease-out 0 1;
}

#dog {
	float: left;
	padding: 0 30px;
    -webkit-animation: photo 1s ease-out 0 1;
    -webkit-transform: translateY(0) scale(1.0) rotate(0);
}

#content {
	margin: 140px auto 0 auto;
	text-align: left;
	width: 830px;
	height: 340px;
}

#igconnect, #fsconnect {
	height: 43px;
	width: 290px;
	display: block;
	overflow: hidden;
	background-position: 0 0;
	margin: 0 10px 10px 0;
	-webkit-border-radius: 6px;
	-webkit-transition: background-color 0.3s;
	text-indent: -9999em;
}

#igconnect {
	background: #7A6B61 url(ig.png) no-repeat;
}

#fsconnect {
	background: #0083DA url(4sq.png) no-repeat;
}

#igconnect:hover {
	background-color: #6B5E55;
}

#fsconnect:hover {
	background-color: #0073BF;
}

#fsconnect:active, #igconnect:active {
	-webkit-box-shadow:inset 0 0 30px rgba(0,0,0,.6);
}

#footer {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	padding: 20px 0 0 0;
	color: #666;
}

.loggedOut h1 {
	width: 506px;
	float: left;
	text-indent: -9999em;
	height: 65px;
	margin: 0 0 26px 0;
	padding: 0;
	background: url(fieldtrip.png) no-repeat;
}

.loggedOut h2 {
	width: 485px;
	text-indent: -9999em;
	height: 48px;
	float: left;
	margin: 0 0 26px 0;
	padding: 0;
	background: url(description.png) no-repeat;
}

/* Onboarding --------- */

#signup {
  width: 500px;
}

/* Friends ---------- */

.tripHead .tripTitle, .tripHead img {
    float: left;
}

.tripHead {
  padding-bottom: 6px;
}

.tripHead img {
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.tripHead h2 {
  margin: 4px 0 0 0;
  font-size: 13px;
  width: 330px;
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 15px;
  white-space: nowrap;
}

.deemph {
  font-weight: normal;
}

.tripName {
    font-size: 12px;
    color: #8C8C8C;
    font-weight: normal;
    padding-top: 2px;
}

.mThumbFPhoto {
    width: 188px;
    height: 188px;
    vertical-align: top;
    float: left;
    margin: 4px 4px 0 0;
}

.sThumbFPhoto, .moreCount {
    width: 92px;
    height: 92px;
    vertical-align: top;
    float: left;
    margin: 4px 4px 0 0;
}

.heroFPhoto {
    width: 380px;
    height: 380px;
    margin: 4px 4px 0 0;
    float: left;
    overflow: hidden;
}

.shortHeroFPhoto {
    width: 380px;
    height: 188px;
    margin: 4px 4px 0 0;
    float: left;
    overflow: hidden;
}

.landscape {
  height: 380px;
}

.portrait {
  width: 380px;
}

.moreCount {
    background-color: #D7D7D7;
    display: block;
    padding: 0px;
    text-align: center;
    line-height: 92px;
    font-size: 20px;
    font-weight: bold;
    color: #646464;
}

.moreCount:hover {
  background-color: #CDCDCD;
  color: #505050;
}

.moreCount:active {
  background-color: #878787;
  color: black;
}

.friendTrip img {
    background-color: #ECEEF0;
}

em {
  font-weight: bold;
  font-style: normal;
}

/* Hacks ---------- */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}