<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Field Trip</title>
    <LINK REL=StyleSheet href="/static/style.css" TYPE="text/css" MEDIA=screen>
    <link rel="icon" type="image/png" href="static/temp.png">
    <link href='http://fonts.googleapis.com/css?family=Cousine:400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/static/main.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26842779-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body>

<div id="top">
<h1>FIELD TRIP</h1>
  <a href="/" id="you"
  {% ifequal path '/' %}
    class="selected"
  {% endifequal %}
  >You</a>&nbsp; · &nbsp;<a href="/friends" id="friends"
  {% ifequal path '/friends' %}
    class="selected"
  {% endifequal %}
  >Friends</a>
</div>

<div id="line"></div>
<div id="bgHack"></div>

<div id="menu">
  {% if user.fs_profilePic %}
    <img src="{{ user.fs_profilePic }}" width="40px" height="40px" id="headerprofilepic">
  {% endif %}
</div>

<ul id="menubox">
  <li><a href="/settings">Settings</a></li>
  <li><a href="#">About</a></li>
  <li><a href="/logout" id="logout">Log out</a></li>
</ul>

<div id="photoWrap">
{% block bodycontent %}
     Replace this
{% endblock %}
</div>

<div id="hide" class="invisible">
<p>Hi!!!!</p>
</div>

</body>
</html>
