<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Field Trip</title>
    <LINK REL=StyleSheet href="/static/style.css" TYPE="text/css" MEDIA=screen>
    <link rel="icon" type="image/png" href="static/temp.png">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.cookies.2.2.0.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/static/main.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26842779-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body class="loggedin">

    <div id="header">
        <div id="headwrap">

            <a href="/"><img src="static/logo.png" width="160" height="22" alt="Field Trip" id="logo"></a>
            <div id="menu">
                <div class="profilename">{% if user.fs_firstName %}{{ user.fs_firstName }}{% endif %}</div>
                {% if user.fs_profilePic %}
                     <img src="{{ user.fs_profilePic }}" width="30px" height="30px" id="headerprofilepic">
                {% endif %}
            </div>
            <div id="toggle" class="clearfix">
                <div id="you"><a href="/"
                {% ifequal path '/' %}
                  class="selected"
                {% endifequal %}
                >You</a></div>
                <div id="friends"><a href="/friends"
                {% ifequal path '/friends' %}
                  class="selected"
                {% endifequal %}
                >Friends</a></div>
            </div>

            <ul id="menubox">
                <li><a href="/settings">Settings</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#" id="logout">Log out</a></li>
            </ul>
        </div>
    </div>



{% block bodycontent %}
     Replace this
{% endblock %}

</body>
</html>
