<div class="friendTrip">
  <div class="tripHead clearfix">
    <img src="{{ trip.get_mini_user.fs_profilePic }}" class="miniprofile">
    <div class="tripTitle">
      <h2>{{ trip.get_mini_user.firstName }}</h2>
      {% if trip.home %}
        <div class="tripName">Home in {{ trip.title }}</div>
      {% else %}
        <div class="tripName">{{ trip.title }}</div>
      {% endif %}
    </div>
  </div>
  <div class="tripPhotos clearfix" style="width:{{ trip.get_photos_mini.2 }}px;" id="trip{{ next|add:"-1" }}">
  {% for photo in trip.get_photos_mini.0 %}
    <img src="{{ photo.fs_300 }}" class="friendPhoto" id="{{photo.key_id}}">

    <div id="l{{photo.key_id}}"  class="lightbox hidden">
      <div class="zoomContent" style="width:{{ photo.width }}px;">
        <img src="{{ photo.photo_url }}">
        <div class="meta" style="width:{{ photo.width }}px;">
          {% if photo.shout %}
            <div class="shout"><span class="firstname">{{ user.firstName }}:</span> "{{photo.shout}}"</div>
          {% endif %}
          {% if photo.fs_venue_name and photo.fs_venue_id %}
            <a class="venue" href="https://foursquare.com/v/{{photo.fs_venue_id}}">{{photo.fs_venue_name}}</a>
          {% else %}
            {% if photo.fs_venue_name %}
              <div class="venue">{{photo.fs_venue_name}}</div>
            {% endif %}
          {% endif %}
          {% if photo.link %}
            <a class="date" href="{{ photo.link }}">{{ photo.fs_createdAt|date:"M j, Y" }}</a>
          {% else %}
            <div class="date">{{ photo.fs_createdAt|date:"M j, Y" }}</div>
          {% endif %}
          <a href="/hidePhoto?id={{ photo.key_id }}">Hide</a>
        </div>
      </div>
    </div>

  {% endfor %}
  {% if trip.get_photos_mini.1 > 1 %}
    <div class="moreCount">+{{ trip.get_photos_mini.1 }}</div>
  {% endif %}
  </div>
</div>

<div id="ajax">
  <div id="loading" style="display:none">Loading...</div>
  <div id="next" style="display:none">{{ next }}</div>
  <script>
    hasRun = false;
    $(window).scroll(function () {
      if (!hasRun) {
        updateFriendPhotos();
      }
    });
    if ($(window).scrollTop() >= $("#photos").height() - $(window).height() - 1000) {
      updateFriendPhotos();
    }
  </script>
</div>