{% if trip.get_photos_mini %}
  <div class="friendTrip">
    <div class="tripHead clearfix">
      <img src="{{ trip.get_mini_user.fs_profilePic }}" class="miniprofile">
      <div class="tripTitle">
        {% if trip.home %}
          <h2 style="line-height:40px; height:40px; margin: 0;">{{ trip.get_mini_user.firstName }}
          <span class="deemph">at home in {{ trip.title }}</span></h2>
        {% else %}
          <h2>{{ trip.get_mini_user.firstName }}
          <span class="deemph">in</span> {{ trip.title }}</h2>
          <div class="tripName">
            {% ifequal currentTime|date:"Y" trip.start_date|date:"Y" %}
              {% if trip.end_date %}
                {% ifequal trip.start_date|date:"M j, Y" trip.end_date|date:"M j, Y" %}
                  {{ trip.start_date|date:"M j" }}
                {% else %}
                  {% ifequal trip.start_date|date:"M" trip.end_date|date:"M" %}
                    {{ trip.start_date|date:"M j" }} - {{ trip.end_date|date:"j" }}
                  {% else %}
                    {{ trip.start_date|date:"M j" }} - {{ trip.end_date|date:"M j" }}
                  {% endifequal %}
                {% endifequal %}
              {% else %}
              <!-- if trip start day is today 'left this morning' or 'just started' -->
                <span class="now">Now</span> since {{ trip.start_date|date:"M j" }}
              {% endif %}
            {% else %}
              {% if trip.end_date %}
                {% ifequal trip.start_date|date:"M j, Y" trip.end_date|date:"M j, Y" %}
                  {{ trip.start_date|date:"M j, Y" }}
                {% else %}
                  {% ifequal trip.start_date|date:"Y" trip.end_date|date:"Y" %}
                    {% ifequal trip.start_date|date:"M" trip.end_date|date:"M" %}
                      {{ trip.start_date|date:"M j" }} - {{ trip.end_date|date:"j, Y" }}
                    {% else %}
                      {{ trip.start_date|date:"M j" }} - {{ trip.end_date|date:"M j, Y" }}
                    {% endifequal %}
                  {% else %}
                    {{ trip.start_date|date:"M j, Y" }} - {{ trip.end_date|date:"M j, Y" }}
                  {% endifequal %}
                {% endifequal %}
              {% else %}
                <span class="now">Now</span> since {{ trip.start_date|date:"M j, Y" }}
              {% endif %}
            {% endifequal %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="clearfix" id="trip{{ next|add:"-1" }}">
      <img src="{{ trip.get_photos_mini.fs_300 }}" class="friendPhoto" id="{{trip.get_photos_mini.key_id}}">
    </div>
  </div>
{% endif %}