<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<title>Field Trip</title>
	<LINK REL=StyleSheet href="/static/style.css" TYPE="text/css" MEDIA=screen>
    <link rel="icon" type="image/png" href="static/temp.png">
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26842779-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
</head>
<body class="loggedOut">

    <div id="content">
        <img src="static/dog.png" id="dog">
        <div id="sellit">
            <h1>Field Trip</h1>
            <h2>Instantly organize your photos & share your adventures with friends</h2>
            <a href="/fs_auth" id="fsconnect">Sign in with foursquare</a>
            <a href="/ig_auth" id="igconnect">Sign in with instagram</a>
            <div id="footer">Designed & built by <a href="http://twitter.com/#!/tedp">@tedp</a></div>
        </div>
    </div>

</body>
</html>
