<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Field Trip</title>
    <LINK REL=StyleSheet href="/static/style.css" TYPE="text/css" MEDIA=screen>
    <link rel="icon" type="image/png" href="static/temp.png">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26842779-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body id="onboarding">

<h1>2/2</h1>

{% if user.ig_token %}
  Also hook up <a href="/fs_auth">Sign in with foursquare</a>
{% else %}
  {% if user.fs_token %}
    <p>Got an instagram account?  <a href="/ig_auth">Sign in with instagram</a></p>
  {% endif %}
{% endif%}

<p><a href="/">Skip</a></p>

</body>
</html>
