<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Field Trip</title>
    <LINK REL=StyleSheet href="/static/style.css" TYPE="text/css" MEDIA=screen>
    <link rel="icon" type="image/png" href="static/temp.png">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26842779-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body id="onboarding">

<h1>1/2</h1>

{% if errors %}
  {% for error in errors %}
    <p>{{ error }}</p>
  {% endfor %}
{% endif %}
<form method="post" action="/signup" id="signup">
  <div class="signupRow">
    <label>First Name</label>
    <input type="text" name="fname" value="{% spaceless %}
      {% if user.firstName %}
        {{ user.firstName }}
      {% endif %}
    {% endspaceless %}"/>
  </div>
  <div class="signupRow">
    <label>Last Name</label>
    <input type="text" name="lname" value="{% spaceless %}
      {% if user.lastName %}
        {{ user.lastName }}
      {% endif %}
    {% endspaceless %}" />
  </div>
  <div class="signupRow">
    <label>Email</label>
    <input type="text" name="email" value="{% spaceless %}
      {% if user.email %}
        {{ user.email }}
      {% endif %}
    {% endspaceless %}" />
  </div>
  <div class="signupRow">
    <label>Home Town (where you currently live)</label>
    <input type="text" name="homeCity" value="{% spaceless %}
      {% if user.homeCity %}
        {{ user.homeCity }}
      {% endif %}
    {% endspaceless %}" />
  </div>
  <div class="signupRow">
    <input type="submit" value="Submit" />
  </div>
</form>



| <a href="/merge">merge instagram and 4sq</a>
| <a href="/findTrips">Find Trips</a>
| <a href="/logout" id="logout">Log out</a>


</body>
</html>
