<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Field Trip</title>
    <LINK REL=StyleSheet href="/static/style.css" TYPE="text/css" MEDIA=screen>
    <link rel="icon" type="image/png" href="static/temp.png">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.cookies.2.2.0.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/static/main.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26842779-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body id="onboarding">

<div id="photoContainer">
  <div id="photos">
    <script>
      function updatePhotos() {
        var browserWidth = $(window).width();
        var browserHeight = $(window).height();
        var thumbSide = 160;
        var rows = Math.ceil(browserWidth / thumbSide);
        var cols = Math.ceil(browserHeight / thumbSide);
        $('#photos').width(String(rows * thumbSide) + "px");
        $('#photos').height(String(cols * thumbSide) + "px");
        var pull =  rows * cols;
        $.ajax({
          url: "/preview?startAt=0&mode={{ user.complete_stage }}&pull=" + pull,
          cache: false,
          success: function(html){
            $('#photos').html(html);
          }
        });
      }
      updatePhotos();
    </script>
  </div>
  <div id="modal">
  <a href="/ig_auth">Sign in with instagram</a>
| <a href="/fs_auth">Sign in with foursquare</a>
| <a href="/fb_auth">FB auth</a>
| <a href="/merge">merge instagram and 4sq</a>
| <a href="/findTrips">Find Trips</a>
| <a href="#" id="logout">Log out</a>
</div>

</div>


</body>
</html>
