{% if photos %}
  {% for photo in photos %}
    <img src="{{ photo.fs_300 }}" class="prev">
  {% endfor %}
{% else %}{% if loading %}
  <script>
    function updatePhotos() {
      var browserWidth = $(window).width();
      var browserHeight = $(window).height();
      var thumbSide = 160;
      var rows = Math.ceil(browserWidth / thumbSide);
      var cols = Math.ceil(browserHeight / thumbSide);
      var pull =  rows * cols;
      $.ajax({
        url: "/preview?startAt=0&mode={{ user.complete_stage }}&pull=" + pull,
        cache: false,
        success: function(html){
          $("#photos").html(html);
        }
      });
    }
    setTimeout('updatePhotos()', 4000);
  </script>
{% endif %}{% endif %}