{% if photos %}
  {% for photo in photos %}
    <div class="photo home" style="background-image:url({{ photo.fs_300 }})"></div>
  {% endfor %}
  <div id="jscript">
    <div id="moreLink" style="display:none">{{ startNext }}</div>
    <script>
      var hasRun = false;
      {% if more %}
        $(window).scroll(function () {    
          if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
            if (!hasRun) {
              $.ajax({
                url: "/preview?startAt=" + $('#moreLink').text(),
                cache: false,
                success: function(html){
                  $("#jscript").replaceWith(html);
                }
              });
              hasRun = true;
            }
          }
        });
      {% endif %}
    </script>
  </div>
{% else %}{% if loading %}
  <script>
    function updatePhotos() {
      $.ajax({
        url: "/preview?startAt=0",
        cache: false,
        success: function(html){
          $("#photos").html(html);
        }
       });
      }
    setTimeout('updatePhotos()', 4000);
  </script>
{% endif %}{% endif %}