{% for photo in trip.get_all_photos %}
  {% if not photo.hidden %}
    <div id="l{{photo.key_id}}" class="lightbox hidden">
      <div class="zoomContentWrap" style="width:{{ photo.width }}px;">
        <div class="zoomContent" style="width:{{ photo.width }}px;">
          <div class="bigWrap" style="height:{{ photo.height }}px;">
            <img src="{{ photo.photo_url }}">
            <div class="photoHighlight"></div>
          </div>

          <div class="meta" style="width:{{ photo.width|add:"-40" }}px;">
            <a href="/hidePhoto?id={{ photo.key_id }}">Hide</a>
            {% if photo.shout %}
              <div class="shout"><span class="firstname">{{ photo.trip_parent.user_parent.firstName }} :</span> "{{photo.shout}}"</div>
            {% endif %}
            {% if photo.fs_venue_name and photo.fs_venue_id %}
              <a class="venue" href="https://foursquare.com/v/{{photo.fs_venue_id}}">{{photo.fs_venue_name}}</a>
            {% else %}
              {% if photo.fs_venue_name %}
                <div class="venue">{{photo.fs_venue_name}}</div>
              {% endif %}
            {% endif %}
            {% if photo.link %}
              <a class="date" href="{{ photo.link }}">{{ photo.fs_createdAt|date:"M j, Y" }}</a>
            {% else %}
              <div class="date">{{ photo.fs_createdAt|date:"M j, Y" }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
