{% if trip %}
  {% if trip.photos %}
    {% if trip.home %}
      <h2>Home in {{user.fs_homeCity}}</h2>
      <div class="trip clearfix">
        {% for photo in trip.get_all_photos %}
          {% if not photo.hidden %}
            <div id="{{photo.key_id}}" class="photo home" style="background-image:url({{ photo.fs_300 }})"></div>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <h2>{{ trip.title }}
        <div class="date">
          {% if trip.end_date %}
            {% ifequal trip.start_date|date:"M j, Y" trip.end_date|date:"M j, Y" %}
              {{ trip.start_date|date:"M j, Y" }}
            {% else %}
              {{ trip.start_date|date:"M j, Y" }} - {{ trip.end_date|date:"M j, Y" }}
            {% endifequal %}
          {% else %}
            {{ trip.start_date|date:"M j, Y" }} - now
          {% endif %}
        </div>
      </h2>
      <div class="trip clearfix">
        {% for photo in trip.get_all_photos %}
          {% if not photo.hidden %}
            <div id="{{photo.key_id}}" class="photo home" style="background-image:url({{ photo.fs_300 }})"></div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
  <div id="ajax">
    <div id="loading" style="display:none">Loading...</div>
    <div id="next" style="display:none">{{ next }}</div>
    <script>
      var hasRun = false;
      function updatePhotos() {
        if ($(window).scrollTop() >= $("#photos").height() - $(window).height() - 1000) {
          $("#loading").toggle();
          $.ajax({
            url: "/tripLoad?startAt="  + $('#next').text(),
            cache: false,
            success: function(html){
              $("#ajax").replaceWith(html);
            }
          });
          hasRun = true;
        }
      }
      $(window).scroll(function () {
        if (!hasRun) {
          updatePhotos();
        }
      });
      if ($("#photos").height() < $(window).height() + 1000) {
        updatePhotos();
      }
    </script>
  </div>
{% else %}{% if loading %}
{% endif %}{% endif %}